
.pink-btn {
    background-color: rgb(219, 16, 112);
    border-color: pink;
}

.bar {
    display: flex;
    
    padding: 1rem 2rem;
    background-color: rgb(219, 16, 112);
    display: flex;
     justify-content: space-between;
}

.arrow-btn {
    border: none;
    background-color: transparent;
    font-size: 4rem;
    justify-content:right ;
    margin-block-end: auto;

}

.logo {
    height: 50px;
}




.arrow-btn {

    color: #f9f9f9;
    text-decoration: none;
    background-color: transparent;

}

.homebar2 {
    color: #f9f9f9;
    font-size: 50px;
    display: flex;
    align-items:center




}

a {

    color: #f8f9fa;
    text-decoration: none;
    display: flex;
    justify-content: right;
    align-items:center ;
}

.pink-btn {
    color: #f9f9f9;
}

body {
    background-image: url(./images/bbblurry.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    


}

footer {
        background-color: rgb(202, 49, 133);
        display: flex;
        margin-top: auto;
        padding: 10px 20px;
        display: flex;
     justify-content: space-between;
        
      }

.icon {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
      .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px;
        background-color: #000102;
        
      }
      .form-input {
        width: 50%;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        outline: none;
      }
      .form-submit-button {
        width: 50%;
        padding: 10px;
        background-image: url(./images/hhholographic.jpg);
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 16px;
        cursor: pointer;
      }      
      .btn-info btn-block{
        background-color: black;
      }
.maincont{
        height: 77vh;
        border: solid #000102;
    }
    
.containertabla{
        display: flex;
        justify-content: center;       
       
    }
    
table{
        width: 60%;
        border: solid #07090a;
        column-rule-style: double;
        background-image: url(./images/hhholographic.jpg);
        border-collapse: separate black;
        display: flex;
       
        align-items:center ;

        

    }
    td{
        border: solid black;
        

    }
    th{
        font-size: 20px;
        background-color: #f9f9f9;
    }

.bar2 {
        color: #f9f9f9;
        font-size: 50px;
        display: flex;
        align-items:center
}

.barradet {
    display: flex;
    
    padding: 1rem 2rem;
    background-color: rgb(219, 16, 112);
    display: flex;
     justify-content: space-between;
}
.categorias{
    display: flex;
    justify-content: space-between;
    margin: 10px; 
     
}
.discatego{
    margin: 10px;
    display: flex;
    border-color: solid #f8f9fa;
}
.checkecatego{
    margin: 10px
}
.eventcont{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
}

.detallesevento{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.info-details > h1{
    font-size: 4rem;
    transition: .3s ease;
}

.info-details > h1:hover{
    font-size: 4.5rem;

}

.info-details > p{
    font-size: 2rem;
    transition: .3s ease;
}
.info-details > p:hover{
    font-size: 2.3rem;
}



#mainconcert{
    height: 70vh;
    display: flex; 
    align-items: center;
    margin: 10px;

   
}

.contenedorimg{
    width: 50%;
    background: var(--border-color);
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border-color: #000102;
}

.detallesevento-contenedor{
    width: 50%;
    display: flex;
    align-items: center;
    border:solid 1px black
   
}





@media only screen and (min-width: 320px) and (max-width: 539px){
    :root{
        font-size: 10px;
    }
    
    footer{
        margin-top: 1rem;
    }
    a{
    height: 10%;
    }
    .icon{
        width: 30px;
    }
    .main-contact{
        height: 90vh;
    }
nav{
    width: 95%
    
    ;
}
    
.homebar2{
        font-size: 10px;
       

    }
    
    table{

        width: 90%;
    }
    th{
        font-size: .7rem;
    }
    td{
        font-size: 1rem;
    }

    #mainconcert{
        height: 70%;
        margin: 2px;
    }
    
    }
    .barradet{
        font-size: 10px;
    }
    .eventcont{
        padding: 0%;
        flex-wrap: wrap;
        margin: 1rem;
    }
    


